* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #000;
  overflow-x: hidden;
  overflow-y: scroll; /* Allow scroll */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

h1 {
  width: 100%;
  color: white;
  font-size: 48vw;
  font-weight: 400;
  text-align: center;
}

.container {
  width: 100%;
  height: 300vh; /* Increase height for smoother scroll */
}

nav {
  position: fixed;
  top: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  z-index: 10; /* Ensure nav stays on top */
}

.wrapper-404 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  will-change: transform;
  z-index: 1;
}

.card {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow-x: hidden;
}

#card-1 { top: 50%; left: 20%; }
#card-2 { top: 25%; left: 40%; }
#card-3 { top: 45%; left: 60%; }
#card-4 { top: 15%; left: 80%; }

.outro {
  position: absolute;
  top: 150vh;
  width: 100%;
  height: 100vh;
}

.outro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 30px;
  width: 100%;
}

.gallery-container {
  position: absolute;
  top: 100vh; /* Start after the 404 section */
  left: 0;
  user-select: none;
  pointer-events: auto;
  width: 100%;
  height: 100vh; /* Take full viewport height */
  z-index: 2;
}

.gallery {
  height: 100%;
  width: 100%;
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 500px;
  height: 500px;
  margin: 50px 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  filter: grayscale(0.5);
}

.gallery-image1 {
  background-image: url(../public/image1.jpg);
  width: 400px;
  height: 800px;
}

.gallery-image2 {
  background-image: url(../public/image2.jpg);
}

.gallery-image3 {
  background-image: url(../public/image3.jpg);
  height: 600px;
  width: 400px;
}

.gallery-image4 {
  background-image: url(../public/image4.jpg);
}

.gallery-image5 {
  background-image: url(../public/image5.jpg);
}

.gallery-image6 {
  background-image: url(../public/image6.jpg);
  width: 600px;
  height: 800px;
}

.gallery-image7 {
  background-image: url(../public/image7.jpg);
  height: 300px;
  width: 300px;
}

.gallery-image8 {
  background-image: url(../public/image8.jpg);
}

.gallery-image9 {
  background-image: url(../public/image9.jpg);
  height: 800px;
}

.gallery-image10 {
  background-image: url(../public/image10.jpg);
  height: 200px;
  width: 200px;
}

.gallery-image11 {
  background-image: url(../public/image11.jpg);
  height: 300px;
  width: 600px;
}

.gallery-image12 {
  background-image: url(../public/image12.jpg);
}
.home-page {
  background-color: #7beb9b;
  height: 300px;
  
}